In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

# Problem Statement

**Data Analysis case study**

I am working on a logistic problem where they have faced cancellation of orders in their deliveries. 
Their main goal is to be the 1st prefered delivery partner in Africa.

**Challenge 2**

-There's been deliberate deletion of data
1. Use the data 2, missed data to predict cancellation reasons for all orders with missing data.
2. Document steps and method used.

In [6]:
##for faster data processing
import numba as nb
import dask as da

#for data manipulation 
import pandas as pd
import numpy as np

##for data visualizations, distribution  and prediction of the variables
from pandas_summary import DataFrameSummary
import scipy as sc
import sklearn as skl
import seaborn as sns

import random

# Import Dataset

In [12]:
query_df = pd.read_csv('../Sendy_data/prediction_df.csv', sep=',')
test_df = pd.read_csv('../Sendy_data/test_df.csv', sep=',')

In [13]:
query_df.head()

,index,personal_or_business,business_number,vehicle_type,standard_or_express,platform,cancel_reason,cancelled_by,placement_day,placement_time,...,distance_(km),pickup_lat,pickup_long,scheduled,order_timedelta,processing_timedelta,confirmation_timedelta,order_period,processing_period,confirmation_period
0,0,Personal,-1.0,Bike,Express,android,No driver has been allocated to my request.,Customer,1,2019-07-29 17:55:38,...,9,-1.313053,36.841437,OnDemAND,NaN,-1 days +23:59:03.000000000,NaN,0,0,0
1,1,Personal,-1.0,Bike,Express,android,My order is not ready.,Customer,1,2019-07-29 12:26:27,...,14,-1.318959,36.853394,OnDemAND,-1 days +23:58:51.000000000,-1 days +23:57:43.000000000,-1 days +23:58:52.000000000,0,0,0
2,2,Business,20680.0,Bike,Express,android,I placed the wrong locations.,Customer,1,2019-07-29 13:21:18,...,16,-1.313854,36.706867,OnDemAND,-1 days +23:59:44.000000000,-1 days +23:33:49.000000000,-1 days +23:34:05.000000000,0,0,0
3,3,Personal,-1.0,Bike,Express,android,My order is not ready.,Customer,1,2019-07-29 10:29:19,...,20,-1.206197,36.778776,OnDemAND,NaN,-1 days +23:59:50.000000000,NaN,0,0,0
4,4,Personal,-1.0,Bike,Standard,ios,No Partner,Staff,1,2019-07-29 14:34:05,...,11,-1.296958,36.808166,OnDemAND,-1 days +23:34:57.000000000,-1 days +22:44:24.000000000,-1 days +23:09:27.000000000,0,0,0

In [14]:
test_df.head()

,personal_or_business,business_number,vehicle_type,standard_or_express,platform,cancel_reason,cancelled_by,placement_day,placement_time,confirmation_day,confirmation_time,cancellation_day,cancellation_time,distance_(km),pickup_lat,pickup_long,scheduled
0,Personal,-1.0,Bike,Express,ios,NaN,Customer,1,15:23:44,1,16:40:47,1,16:43:50,4,-1.299370,36.822107,OnDemAND
1,Business,20680.0,Bike,Express,desktop,NaN,Staff,1,14:21:46,1,14:22:20,1,14:30:48,17,-1.264490,36.789303,OnDemAND
2,Business,17968.0,Bike,Express,desktop,NaN,Customer,1,15:13:20,1,NaN,1,15:56:34,18,-1.427056,36.961499,OnDemAND
3,Personal,-1.0,Bike,Standard,android,NaN,Customer,1,13:54:19,1,NaN,1,13:56:41,8,-1.301737,36.743936,OnDemAND
4,Personal,-1.0,Bike,Standard,android,NaN,Staff,1,13:24:05,1,15:57:20,1,17:14:46,13,-1.308098,36.920464,Scheduled

In [15]:
#splitting into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(query_df, query_df['binary_class'], random_state = 0)

#setting random number between 1 and 1000
number = random.randint(1,1000)

#printing random training text and X_train shape
print ('Random Review:')
print(' ')
print(X_train[number])
print(' ')
print('X_train shape: ' + str(X_train.shape))

NameError: name 'df' is not defined